{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
<div>
    <a href="{% url 'post_detail' pk=post.pk %}">
        <img src="{{ post.photo.url }}" alt="">
    </a>

    <ul id="post-comments-{{ post.pk }}">
        {% for comment in post.comments.all %}
        <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'comment_create' pk=post.pk %}?next=/post/#post-comments-{{ post.pk }}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <button class="btn btn-block btn-primary">댓글 달기</button>
    </form>
</div>
{% endfor %}
{% endblock %}
